.vitamin-button {
    background-color: #4CAF50 !important; /* Green background */
    color: white !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    border: none !important;
    cursor: pointer !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    width: 20em !important;
  }
  
  .vitamin-button:hover {
    background-color: #3E8E41 !important; /* Darker green on hover */
  }
  
  .flex-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: start; /* Align items to the start of the container */
    width: 100%; /* Full width to avoid wrapping, ensure there's enough space */
}

.buttons-container {
    display: flex !important;
    flex-direction: column !important; /* Arrange buttons vertically */
    margin-right: 20px; /* Space between buttons and the details */
}

.detail-container {
    flex-grow: 1 !important; /* Take up the remaining space */
    padding: 10px !important; /* Padding around the content */
    width: calc(100% - 250px) !important; /* Adjust width as necessary based on the actual width of the buttons */
}
